<div class="gebetszeiten-container">
  <h2 style="text-align: center;">Gebetszeiten für {{ city }} - {{ getFormattedDate(dateDisplay) }}</h2>

  <div *ngIf="currentPrayerTimes; else loadingData">
    <table class="centered-table">
      <thead>
        <tr>
          <th>Gebet</th>
          <th>Zeit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of currentPrayerTimes | keyvalue">
          <td>{{ entry.key }}</td>
          <td>{{ entry.value }}</td>
        </tr>
      </tbody>
    </table>
    <div class="date-navigation" style="text-align: center; margin-top: 20px;">
      <button (click)="goToToday()" [disabled]="isToday()">Heute</button>
      <button (click)="skipForward()">Nächster Tag &raquo;</button>
    </div>
  </div>

  <ng-template #loadingData>
    <p *ngIf="!errorMessage">Lade Gebetszeiten...</p>
  </ng-template>
</div>